<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tile000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,294}</string>
                <key>spriteSourceSize</key>
                <string>{157,294}</string>
                <key>textureRect</key>
                <string>{{0,0},{157,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,294}</string>
                <key>spriteSourceSize</key>
                <string>{157,294}</string>
                <key>textureRect</key>
                <string>{{157,0},{157,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,294}</string>
                <key>spriteSourceSize</key>
                <string>{157,294}</string>
                <key>textureRect</key>
                <string>{{314,0},{157,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,294}</string>
                <key>spriteSourceSize</key>
                <string>{157,294}</string>
                <key>textureRect</key>
                <string>{{0,294},{157,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,294}</string>
                <key>spriteSourceSize</key>
                <string>{157,294}</string>
                <key>textureRect</key>
                <string>{{157,294},{157,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,294}</string>
                <key>spriteSourceSize</key>
                <string>{157,294}</string>
                <key>textureRect</key>
                <string>{{314,294},{157,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,294}</string>
                <key>spriteSourceSize</key>
                <string>{157,294}</string>
                <key>textureRect</key>
                <string>{{0,588},{157,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,294}</string>
                <key>spriteSourceSize</key>
                <string>{157,294}</string>
                <key>textureRect</key>
                <string>{{157,588},{157,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,294}</string>
                <key>spriteSourceSize</key>
                <string>{157,294}</string>
                <key>textureRect</key>
                <string>{{314,588},{157,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,294}</string>
                <key>spriteSourceSize</key>
                <string>{157,294}</string>
                <key>textureRect</key>
                <string>{{0,882},{157,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,294}</string>
                <key>spriteSourceSize</key>
                <string>{157,294}</string>
                <key>textureRect</key>
                <string>{{157,882},{157,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,294}</string>
                <key>spriteSourceSize</key>
                <string>{157,294}</string>
                <key>textureRect</key>
                <string>{{314,882},{157,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,294}</string>
                <key>spriteSourceSize</key>
                <string>{157,294}</string>
                <key>textureRect</key>
                <string>{{0,1176},{157,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,294}</string>
                <key>spriteSourceSize</key>
                <string>{157,294}</string>
                <key>textureRect</key>
                <string>{{157,1176},{157,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,294}</string>
                <key>spriteSourceSize</key>
                <string>{157,294}</string>
                <key>textureRect</key>
                <string>{{314,1176},{157,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,294}</string>
                <key>spriteSourceSize</key>
                <string>{157,294}</string>
                <key>textureRect</key>
                <string>{{0,1470},{157,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,294}</string>
                <key>spriteSourceSize</key>
                <string>{157,294}</string>
                <key>textureRect</key>
                <string>{{157,1470},{157,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,294}</string>
                <key>spriteSourceSize</key>
                <string>{157,294}</string>
                <key>textureRect</key>
                <string>{{314,1470},{157,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>glass_sheet.png</string>
            <key>size</key>
            <string>{471,1764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cac2685b922a59aa51ddccd2d806daf:d1978a58ee668cef3661032bbe8cdfb2:1aedaac55f7eac35b72150443d1d1fa9$</string>
            <key>textureFileName</key>
            <string>glass_sheet.png</string>
        </dict>
    </dict>
</plist>
