<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tile000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,295}</string>
                <key>spriteSourceSize</key>
                <string>{158,295}</string>
                <key>textureRect</key>
                <string>{{0,0},{158,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,295}</string>
                <key>spriteSourceSize</key>
                <string>{157,295}</string>
                <key>textureRect</key>
                <string>{{158,0},{157,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>glass_full_sheet.png</string>
            <key>size</key>
            <string>{315,295}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9091fe644bd6faf717aa3d9f146286f:56ee5ed395f84b0f90463e92b409da8c:f895d365abbcd70c480e1aa67d2b10d2$</string>
            <key>textureFileName</key>
            <string>glass_full_sheet.png</string>
        </dict>
    </dict>
</plist>
